footer {
  border-top:1px solid #efefef;
  padding:0 1ch;
  p {
    font-size:0.8em; 
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;  
}
main {
  flex: 1;
  padding:0 1ch;
}