header {
  padding:1ch;
  border-bottom: 1px solid #efefef;
  a.logo {
    font-size:1.5em;
    text-decoration:none;
    color:#000;
  }
  a.navicon {
    float:right;
    font-size:1.5em;
  }
  a.navicon.close {
    display:none;
  }
}